.icon-list {
  padding-left: 0;
  list-style: none;
}

.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}

.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

/*  #FDFDA7   #FDFD22   #FFEE00  #FFDF32 #FEDA00  #D3A007  */

/*cabeçalho navegação*/
nav h2 {
  color: black;
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 20px;
}

span {
  color: #FEDA00;
}

nav h2 img {
  width: 100px;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  /* Ajuste o padding conforme necessário */
  width: 100%;
  /* Garante que o nav ocupe toda a largura */
  position: relative;
  background-color: #fdfda7c1;
}

nav ul li {
  display: inline-block;
  padding: 10px 25px;
  list-style-type: none;
}

nav ul li a {
  color: #D3A007;
  text-decoration: none;
  font-weight: bold;

}

nav ul li a:hover {
  color: #44868B;
  transform: scale(1.2);
}

.btn-init {
  color: #FEDA00;
  padding: 5px 5px;
  border-radius: 90px;
  border: 2px dotted #FEDA00;
  position: fixed;
  bottom: 50px;
  z-index: 1000;
}

.btn-init img {
  width: 30px;
}

.btn-rigth {
  right: 20px;
}

.btn-init:hover {
  background-color: transparent;
  color: #FEDA00;
  border: 2px dotted #FEDA00;
  cursor: pointer;
  transition: .3s;
}

/*origem*/
/* Estilos específicos para a seção sobre */
.background-color-Sobre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Estilos aplicados apenas às imagens dentro da classe .imgs */
.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
}

.imgs img {
  width: 300px;
  height: auto;
  margin: 10px;
  border: 4px dashed #FFEE00;
}

.imgs img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* Estilos para o texto */
.Text-sobre {
  height: auto;
  margin-left: 40px;
}

.main-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 30px;
}

.Text-sobre h2 {
  letter-spacing: 3px;
  color: #D3A007;
  font-size: 55px;
  margin-bottom: 40px;
}

.Text-sobre h5 {
  color: black;
  letter-spacing: 2px;
  font-size: 35px;
  margin-bottom: 30px;
}

.Text-sobre p {
  color: black;
  letter-spacing: 1px;
  line-height: 32px;
  font-size: 25px;
  margin-bottom: 20px;
}

.Text-sobre span {
  color: #D3A007;
}

.Text-sobre p span {
  color: #D3A007;
  text-shadow: 2px 2px 10px #44868B;
  font-weight: bold;
  letter-spacing: 2px;
}

/*prevençao*/
.teste-projeto {
  width: 100%;
  padding: 30px;

}

.titulo-projeto h2 {
  color: #D3A007;
  font-size: 45px;
  margin: 40px;
  text-align: center;
  border: 9px double #FFDF32;

}

.caixa-projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Espaçamento entre os projetos */
}

.projeto-1 {
  display: flex;
  height: auto;
  gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #FDFD22;
  border-radius: 10px;
  box-shadow: 0 4px 8px #FDFD22;
  overflow: hidden;
  /* Previne que o conteúdo saia da div */
}

.projeto-1 h5 {
  color: #D3A007;
  font-size: 40px;
  margin-bottom: 10px;
  width: 100%;
  /* O título ocupa a linha toda */
}

.projeto-1 p {
  display: flex;
  font-size: 25px;
  gap: 4px;
  justify-content: start;
  align-items: center;
  color: black;
  width: 100%;
  margin-right: 20px;
  word-wrap: break-word;
  /* Quebra de linha automática */
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  /* Imagens ajustam-se para ficarem lado a lado ou embaixo conforme a largura */
  flex-direction: column;
  gap: 10px;

}

.fotos img {
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.align-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-right: 25px;
}

footer {
  margin: 30px;
}

html {
  scroll-behavior: smooth;
}